$white:      #fff;
$black:      #000;
$grey:       #808080 !default;
$grey-light: lighten($grey, 40%) !default;
$grey-dark:  darken($grey, 25%) !default;

/* Area color */
$background-color: #fff !default;
$highlight-background-color: #212121;

/* Text color */
$text-color: #000 !default;
$link-color: royalblue;