$red:      #ac4142;
$orange:   #d28445;
$yellow:   #f4bf75;
$green:    #90a959;
$cyan:     #75b5aa;
$blue:     #6a9fb5;
$magenta:  #aa759f;
$brown:    #8f5536;
$default:  #505050;

$white:      #fff;
$lightgrey:  #eee;
$black:      #000;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

/* Area color */
$background-color: #fdfdfd !default;
$pre-color: #212121;

/* Text color */
$text-color:       #111 !default;
$link-color: royalblue;

/* dark mode */

$light-primary-color: #6200EE;
$light-primary-variant-color: #3700B3;
$light-secondary-color: #03DAC6;
$light-secondary-variant-color: #018786;
$light-background-color: #FFFFFF;
$light-surface-color: #FFFFFF;
$light-error-color: #B00020;
$light-on-primary-color: #FFFFFF;
$light-on-secondary-color: #000000;
$light-on-background-color: #000000;
$light-on-surface-color: #000000;
$light-on-error-color: #FFFFFF;

$dark-primary-color: #BB86FC;
$dark-primary-variant-color: #3700B3;
$dark-secondary-color: #03DAC6;
$dark-background-color: #282c35;
$dark-surface-color: #121212;
$dark-error-color: #CF6679;
$dark-on-primary-color: #FFFFFF;
$dark-on-secondary-color: #000000;
$dark-on-background-color: #FFFFFF;
$dark-on-surface-color: #FFFFFF;
$dark-on-error-color: #000000;

$light-toc-container-color: #f1f1f1;
$dark-toc-container-color: #424242;