:root {
  --primary-color: #6200EE;
  --primary-variant-color: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-variant-color: #018786;
  --background-color: #FFFFFF;
  --surface-color: #FFFFFF;
  --error-color: #B00020;
  --on-primary-color: #FFFFFF;
  --on-secondary-color: #000000;
  --on-background-color: #000000;
  --on-surface-color: #000000;
  --on-error-color: #FFFFFF;

  --link-color: #3700B3;
  --toc-container-color: #f1f1f1;
  --background-color-1: 0,0,0;

  --header: 230,230,230;
}

[data-theme="dark"] {
  --primary-color: #BB86FC;
  --primary-variant-color: #3700B3;
  --secondary-color: #03DAC6;
  //--background-color: #282c35;
  --background-color: #121212;
  --surface-color: #121212;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;

  --link-color: #03DAC6;
  --toc-container-color: #424242;
  --background-color-1: 255, 255, 255;

  --header: 25,25,25;
}

body {
  background-color: var(--background-color);
  color: var(--on-surface-color);
}
a {
  color: var(--link-color);
}
.site-title {
  color: var(--on-background-color);
}
.site-menu {
  background-color: var(--background-color);
  .page-link {
    color: var(--on-background-color);
  }
}
@media screen and (max-width: $on-palm) {
  .site-nav {
    background-color: var(--secondary-color);
    a{color: var(--on-background-color);}
  }
}