@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap'); //나눔고딕
@import url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-subset.css'); //d2coding

$base-font-family: 'Nanum Gothic', sans-serif;
$code-font-family: 'D2Coding', "Consolas", monospace;

$base-font-size:   12pt !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
//@include relative-font-size(1.875); //30px
//@include relative-font-size(1.5); //24px
//@include relative-font-size(1.125); //18px
//@include relative-font-size(0.875); //14px
//@include relative-font-size(0.75); //12px