@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

$base-font-size:   12pt !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;

$base-font-family: 'Iropke Batang', 'Noto', serif;
$code-font-family: "Source Code Pro", "Consolas", "Hack", monospace;
//$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
//$code-font-family: 'Nanum Gothic Coding', monospace;
//$font-serif: "PT Serif", Georgia, "Times New Roman", serif;
//$font-sans: "PT Sans", Helvetica, Arial, sans-serif;
$font-awesome: FontAwesome;

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
