// Width of the content area
$toc-relative:     1440px !default;
$content-width:    940px !default;
$on-palm:          600px !default;

$spacing-unit:     30px !default;
$table-text-align: left !default;