// Width of the content area
$toc-relative:     1400px !default;
$content-width:    800px !default;
$on-palm:          600px !default;

$spacing-unit:     30px !default;
$base-line-height: 1.5 !default;
$table-text-align: left !default;