{% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ page.url }}';
        this.page.identifier = '{{ page.title }}';
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://gming.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Disqus에서 제공하는 댓글 기능을 이용하시려면 <a href="https://disqus.com/?ref_noscript">여기로 가셔서 javascript를 활성화해주세요.</a></noscript>
{% endif %}