<head>
  {% include gtag.html %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/main.css' }}">
  <!--icon-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  {%- feed_meta %}
  <!--vue.js & axios for categories generator-->
  <script src="/assets/js/vue.min.js"></script>
  <script src="/assets/js/axios.min.js"></script>
  <!--jquery for back-to-top-->
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/index.js"></script>
  <script>
  const theme = localStorage.getItem('theme');
	if (theme === "dark") {
		document.documentElement.setAttribute('data-theme', 'dark');
	}
  </script>
</head>