<div class="sidebar">
  <!--category list-->
  <div class="sidebar-item">
    <div id="sidebar-item-category">
      <a href="/categories" class="sidebar-item-tltle">Categories</a>
      {%- include category_lst.html nav=page.sidebar -%}
    </div>
  </div>
  <!--tag list-->
  <div class="sidebar-item">
    <div id="sidebar-item-tag">
      <a href="/tags" class="sidebar-item-tltle">Tags</a>
      <!--가장 포스트가 많은 태그의 포스트수 구함 max_size-->
      {%- assign max_size = 0 -%}
      {%- for tag in site.tags %}
      {%- assign tag_last_size = tag | last | size -%}
        {%- if tag_last_size > max_size -%}
          {%- assign max_size = tag_last_size -%}
        {%- endif -%}
      {%- endfor %}
      <div class="sidebar-tag-cloud">
        {%- assign sorted_tags = site.tags | sort -%}
        {%- for tag in sorted_tags %}
        {%- assign percent_for_size = tag | last | size | times: 50 | divided_by: max_size -%}
        {%- assign tag-font-size = percent_for_size | plus: 75 -%}
        {%- assign percent_for_color = tag | last | size | times: 50 | divided_by: max_size -%}
        {%- assign tag-font-opacity = 49 | plus: percent_for_color -%}
        <span style="font-size: {{ tag-font-size }}%;">
          <a href="/tag/#{{tag | first }}" onclick="showTag('#{{tag | first }}');" 
             style="opacity: 0.{{tag-font-opacity}};">
            {{- tag | first -}}
          </a>
        </span>
        {%- endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function init(){
      var url = window.location.href;
      var req = /#([^\s]+)$/.exec(url);
      if(!Array.isArray(req)) {
          return false;
      }
      var selector = '#' + req.pop();
      showTag(selector);
  });

  function showTag(selector) {
      $('.archive-group').hide();
      $(selector).show();
  }
</script>