.browser-post-list {
    float: left;
    width: 70%;
  }
  
  @media screen and (max-width: $content-width) {
    .browser-post-list {
      width: 100%;
    }
    .containerBox, .site-post-category {
      display: none;
    }
  }
  