.expo {
  :target:before {
    content:"";
    display:block;
  }
  .expo-list {
    padding: $spacing-unit 0 $spacing-unit 0;
    text-align: center;
  }
  .post-tag {
    display: inline-block;
    background: var(--primary-color);
    padding: 0 .5rem;
    margin: .2em .3em;
    border-radius: 4px;
    color: var(--on-primary-color);
    &:hover {
      text-decoration: none;
      background: var(--primary-variant-color);
      color: var(--on-primary-color);
    }
  }
  .expo-section {
    padding-top: 20px;
    ul {
      list-style-type: circle;
      list-style-position: inside;
      margin-left: 20px;
      li {
        padding-left: 0px;
        &:hover {
          list-style-type: disc;
          padding: 0 .5rem;
        }
      }
    }
    a {
      text-decoration: none;
    }
    .expo-section-category{
      span{
        cursor: pointer;
        color: $grey;
        &:hover {
          text-decoration: underline;
          color: $grey-dark;
        }
      }
      ul {
        margin-top: 15px
      }
    }
    .expo-category-posts{
    display: None;
    }
    .back-to-top {
      text-align: right;
      font-size: 1px;
    }
    .expo-post-date {
      display: inline-block;
      //color: $post-date-color;
    }
  }
  @media screen and (max-width: $on-palm) {
    .back-to-top {
      display: None;
    }
  }
}