/**
 * Intro Image
 */

.img{
    display: table;
    background-image: url(/assets/img/home.jpg);
    height: 460px;
    width: 100%;
    padding: 0;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: $on-palm) {
        height: 300px;
      }
}

.img-cover{
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(12, 12, 48, 0.3);
    overflow: hidden;
    h1, p{
        width: 80%;
        max-width: 780px;
        margin: 0 auto;
        color: #fff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    };
}

/**
 * index
 */

#notice-post {
    margin: $spacing-unit 0 $spacing-unit 0;
    ul{
        list-style: none;
    }
}

#featured-post {
    ul{
        margin: 0;
        list-style: none;
        li{
            padding: $spacing-unit;
        }
    }
    .post-title,
    .post-excerpt,
    .post-tags {
        margin: 0;
        max-width: 620px;
    }
    .post-item {

        border-bottom: 1px solid #e6e6e6;
    }
    .post-title{
        font-size: 26px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .post-excerpt {
        padding-top: 22px;
        font-size: 0.825rem;
        line-height: 24px; /* 24px = 14(font-size) + 10(line-spacing) */
        display: block;
        max-height: 48px; /* 2 lines */
        display: -webkit-box; /* multi-line ellipsis */
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
    }
    .post-tag-list {
    margin-top: 18px;
    }
    .post-tag {
        display: inline-block;
        margin: 0 5px 5px 0;
        padding: 0 10px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        vertical-align: middle;
        font-size: 12px;
        line-height: 24px;
    }
}

.comment-icon {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 0.875rem;
  }


/**
 * pagination
 */

#pagination {
    margin: 0;
    padding: 33px 0;
    text-align: center;
}

#pagination > li {
    list-style: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: 14px;
    line-height: 18px; /* 18px = 20(height) - 2(border) */
    vertical-align: middle;
}

/* pagination */

#pagination > li + li {
    margin-left: 10px;
}

#pagination > li.active, #pagination > li:hover {
    background-color: #e6e6e6;
    border-radius: 4px;
}

#pagination > li > a {
    width: 100%;
    height: 100%;
    display:block;
}

#page-prev, #page-next {
    font-size: 20px;
}