.page-content {
  flex: 1 0 auto;
}
.page-heading {
  @include relative-font-size(2);
}
.post-list-heading {
  @include relative-font-size(1.75);
}
.post-list-ul {
  list-style: none;
  .description {
    display: block;
    font-size: 80%
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.main-post-list {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  .description {
    display: block;
    font-size: 80%
  }
}