.post-header {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}
.post-date {
  color: $grey-color;
}
.post-header-categories, .post-header-tags {
  font-size: 80%;
  text-align: right;
}
.post-last-modified {
  text-align: right;
  font-size: 50%;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
}
.post-content, .post-content-col {
  h1 {
    @include relative-font-size(2.25);
  }
  h2 {
    @include relative-font-size(2);
  }
  h3 {
    @include relative-font-size(1.625);
  }
  h4 {
    @include relative-font-size(1.25);
  }
}


