.post-header {
  margin-bottom: $spacing-unit;
}
.post-date {
  color: $grey-color;
}
.post-header-categories {
  font-size: 80%;
  text-align: right;
}
.post-header-tags {
  font-size: 80%;
  text-align: right;
}
.post-last-modified {
  text-align: right;
  font-size: 50%;
}
.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @media screen and (max-width: $on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  //position: relative;
  float: left;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: $spacing-unit;
  h2 {
    @include relative-font-size(2);

    @media screen and (max-width: $on-laptop) {
      @include relative-font-size(1.75);
    }
  }
  h3 {
    @include relative-font-size(1.625);

    @media screen and (max-width: $on-laptop) {
      @include relative-font-size(1.375);
    }
  }
  h4 {
    @include relative-font-size(1.25);

    @media screen and (max-width: $on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
@media screen and (max-width: $content-width) {
  .post-content {
    width: 100%
  }
}