$site-header-line-height: $base-line-height * $base-font-size * 2.25;
$site-header-icon-size: 36px;

.site-header {
  height: $site-header-line-height;
  width: 100%;
  border-bottom: 1px solid $grey-color-light;
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $site-header-line-height;
  margin-bottom: 0;
  float: left;
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.comment-icon {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 75%;
}

/**
 * navigation bar
 */

.site-search {
  position: absolute;
  top: ($site-header-line-height - $site-header-icon-size) / 2;
  right: $spacing-unit / 2;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
}

.search-icon, .menu-icon {
  position: relative;
  width: $site-header-icon-size;
  height: $site-header-icon-size;
  line-height: $site-header-icon-size;
  text-align: center;
  cursor: pointer;
}


.site-menu {
  float: right;
  line-height: $site-header-line-height;
  z-index: 1; /* Stay on top */
  margin-right:  $spacing-unit / 2 + $site-header-icon-size;

  .menu-trigger, .menu-icon {
    display: none;
  }
  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: $on-palm) {
    position: absolute;
    top: ($site-header-line-height - $site-header-icon-size) / 2;
    right: $spacing-unit / 2;
    border: 1px solid $grey-color-light;
    border-radius: 5px;

    label[for="menu-trigger"] {
      display: block;
      float: right;
      width: $site-header-icon-size;
      height: $site-header-icon-size;
      z-index: 2;
      cursor: pointer;
    }
    .menu-icon {
      display: block;
      float: right;
    }
    input ~ .trigger {
      clear: both;
      display: none;
    }
    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: block;
      padding: 5px 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

