<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ko' }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  <!--mathjax-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  <!--discus comments count-->
  <script id="dsq-count-scr" src="//gmimg.disqus.com/count.js" async></script>
  </body>
</html>