---
layout: browser
permalink: /category/
sidebar: "main"
---
{% assign esc_title="{{ postjson.title }}" %}
{% assign esc_date="{{ postjson.date }}" %}
{% assign esc_ctgname="{{ hash }}" %}
<ul id="post-list">
  <h2 id="{{ categories | first }}" class="category-title">{{ esc_ctgname }}</h2>
  <li v-for="postjson in posts" v-if="postjson.categories.indexOf(hash) != -1" class="post-item">
    <time class="post-date">{{ esc_date }}</time>
    <a class="post-link" v-bind:href="postjson.url">{{ esc_title }}</a>
  </li>
</ul>
<script>
  var hash = decodeURI(window.location.hash.substr(1));
  var postList = new Vue({
    el: '#post-list',
    data: {
      posts: []
    }
  });
  axios.get('/posts.json')
  .then(function (response) {
    postList.posts = response.data.posts;
  })
  .catch(function (error) {
    console.log(error);
  });
</script>
